<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ static_url("styles/style.css") }}">
    <script src="{{ static_url("scripts/vendor/zepto.min.js") }}"></script>
    <script src="{{ static_url("scripts/scripts.js") }}"></script>
</head>
<body>
    <div id="topbar">
        <p>
            <a href="#" id="viewsongslist">Songs List</a>
            <a href="#" id="newsong">New Song</a>
            <a href="#" id="stop">Stop</a>
        </p>
    </div>
    <div id="mbox">
        <div id="song-image">
            <img src="{{ static_url("styles/img/invis.gif") }}" alt="">
        </div>
        <p id="song-name">Loading...</p>
        <div id="control">
            <a href="#" class="pause">pause</a>
            <span id="duration"><em></em>- 00:59</span>
        </div>
        <ul id="songslist">
            <!--<li><a href="#">01.Songs created by mark</a></li>-->
        </ul>
    </div>
    <div id="mask">
        <div class="inner">
            <div id="addnewsong">
                <h2>Add a New Song</h2>
                <form>
                    <label for="name">Song Name</label>
                    <input type="text" id="name" name="name">
                    <label for="url">URL</label>
                    <input type="text" id="url" name="url">
                    <label for="image">Image URL</label>
                    <input type="text" id="image" name="image">
                    <label for="list">Belongs to</label>
                    <select id="list" name="list">
                        <option value="1">Default List</option>
                        <option value="">2</option>
                    </select>
                    <input type="submit" value="submit">
                </form>
            </div>
            <a href="#" id="closemask">Close</a>
        </div>
    </div>
</body>
</html>
