<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ static_url("styles/style.css") }}">
    <script src="{{ static_url("scripts/vendor/zepto.min.js") }}"></script>
    <script src="{{ static_url("scripts/scripts.js") }}"></script>
</head>
<body>
    <div id="mbox">
        <div id="song-image">
            <!--<img src="images/1.jpg" alt="">-->
        </div>
        <p id="song-name">Loading...</p>
        <div id="control">
            <a href="#">pause</a>
            <span id="duration"><em></em>- 00:59</span>
        </div>
        <ul id="songslist">
            <!--<li><a href="#">01.Songs created by mark</a></li>-->
        </ul>
    </div>
</body>
</html>
