html,body,h1,h2,h3,h4,h5,h6,p,ul,li,a,span{padding: 0; margin: 0; border: 0}
ul{list-style: none}
a{text-decoration: none}
a img{border: 0}

body{
    font: 14px/24px Helvetica, Arial, sans-serif;
    background: #191919;
}

#mask{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
}

#mask.show{
    display: block;
}

#mask .inner{
    min-height: 50%;
    margin: 44px 0 0;
    padding: 40px 0;
    background: #333;
    position: relative;
    color: #fff;
}

#mask .inner > div{
    margin: 0 auto;
    padding: 0 20px;
}

#mask form h2{
    font: 20px/48px Times, serif;
}

#mask form label{
    display: block;
    margin: 20px 0 0;
}

#mask form input[type="text"]{
    border: 0;
    width: 96%;
    padding: 0 2%;
    height: 38px;
    line-height: 38px;
    background: #111;
    color: #fff;
}

#mask form select{
    width: 80%;
    height: 38px;
    line-height: 38px;
    background: #111;
    color: #fff;
    border: 1px solid #111;
}

#mask form select option{
    color: #000;
}

#mask form input[type="submit"]{
    height: 38px;
    line-height: 38px;
    background: #a64439;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    display: block;
    padding: 0 10px;
    margin-top: 30px;
    cursor: pointer;
}

#mask form input[type="submit"]:active{
    background: #ca8828;
}

#closemask{
    display: block;
    width: 44px;
    height: 44px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
}

#topbar{
    background: #000;
    height: 44px;
    line-height: 44px;
}

#topbar p{
    width: 300px;
    margin: 0 auto;
    padding: 0 10px;
}

#topbar p:after{
    content: '';
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
}

#topbar a{
    display: block;
    height: 44px;
    color: #fff;
}

#viewsongslist,
#newsong{
    float: left;
    margin-right: 20px;
}

#stop{
    float: right;
}

#mbox{
    width: 320px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 15px;
    background: #2a1c29;
}

img{
    display: block;
    max-width: 185px;
    margin: 0 auto;
}

#song-name{
    text-align: center;
    margin: 20px 10px;
    color: #fff;
}

#control{
    height: 44px;
    line-height: 44px;
    letter-spacing: 0;
    word-spacing: 0;
    font-size: 0;
}

#control a,
#control span{
    display: inline-block;
    margin-left: 10px;
}

#control a{
    color: #fff;
    width: 44px;
    background-color: #a64439;
    background-image: url(img/play.png);
    background-repeat: no-repeat;
    background-position: center;
}

#control a:hover,
#control a:active{
    background-color: #ca8828;
}

#control a.pause{
    background-image: url(img/pause.png);
    background-repeat: no-repeat;
    background-position: center;
}

#duration{
    text-align: right;
    width: 246px;
    line-height: 12px;
    font-size: 12px;
    color: #878787;
    position: relative;
    top: -2px;
}

#duration em{
    display: block;
    height: 1px;
    width: 23450px;
    max-width: 246px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #878787;
}

#songslist{
    margin: 15px 0 0;
}

#songslist li a{
    display: block;
    color: #fff;
    padding: 5px 20px;
}

#songslist li a:hover,
#songslist li a:active{
    color: #ca8828;
}

@media only screen and (min-width: 320px){

body{
    background: #191919;
}

#topbar p{
    width: 320px;
    padding: 0;
}

#mbox{
    margin: 40px auto 0;
    padding-top: 60px;
}

#mask .inner{
    margin-top: 84px;
}

#mask .inner > div{
    max-width: 60%;
    margin: 0 auto;
}

#mask form input[type="text"]{
    width: 70%;
}

#mask form select{
    width: 50%;
}


}
